h1, .jumbotron {
 background-color: #99b8e7;
 color: #97837C;
 text-align: center;
 font-size: 40px;
}
h3 {
  display: inline;
}
.country-class {
  padding-bottom: 30px;
}
.genre-class {
  padding-top: 15px;
}
#login-name, input {
  width: 50%;
  text-align: center;
}
.contain1 {
  margin-left: 25%;
}
button, #login {
  margin-left: 24%;
}
/*#login {
  display: inline;
}*/